<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solidarité Sida - Trombinoscope</title>
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header_container">
            <ul>
                <a href=""><li>IMPORTER</li></a>
                <a href=""><li class="orange_button">IMPRESSION</li></a>
                <li>{{ current_user.get().getFirstName() }} {{ current_user.get().getLastName() }}</li>
            </ul>
        </div>
    </header>

    <div class="controls_container">
        <h2>{{ constant('PeopleBundle\\Helper\\RoleHelper::ROLES')[current_user.get().getRole()] }}</h2>
        <div class="controls_bar">
            <h5>Zones</h5>
        </div>
        <div class="controls_bar end">
            <ul>
                <li>Afficher :</li>
                <li><img src="/images/tel.png" width="30"></li>
                <li><img src="/images/mail.png" width="30"></li>
                <li><img src="/images/adresse.png" width="30"></li>
                <li><img src="/images/permis.png" width="30"></li>
            </ul>
        </div>
        <hr>
    </div>

    {% block content %}{% endblock %}


    <script src="/js/script.js"></script>
</body>
</html>
