<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solidarité Sida - Trombinoscope</title>
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="header_container">
        <a href="javascript:history.back()">Retour</a>

        <ul>
            <a href="/dashboard">
                <li class="print-dropdown">
                    <div class="print-dropdown-name">{{ current_user.get().getFirstName() }} {{ current_user.get().getLastName() }} &darr; </div>
                    <img onerror="this.src='/images/defaultPicture.png'" class="profile-pic" src="/images/benevoles/{{ current_user.get().getFirstName }} {{ current_user.get().getLastName }}.jpg">
                    <div class="print-dropdown-content">
                        <a class="dropdown-content-a" href="/logout">Déconnexion</a>
                        <a class="dropdown-content-a" href="https://www.youtube.com/watch?v=0lej8BJ18hw&feature=youtu.be">Tutoriel</a>
                    </div>
                </li>
            </a>
        </ul>
    </div>

    {% block container %}{% endblock %}
</header>
