{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../../../web/css/pdf/callsheet/main.css" />
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="content">
        <table>
            <tr>
                <th></th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Permis</th>
                <th class="check"></th>
                <th class="check"></th>
                <th class="check"></th>
                <th class="check"></th>
                <th class="check"></th>
                <th class="check"></th>
                <th class="check"></th>
                <th class="check"></th>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr><tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr><tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>
            <tr>
                <td><img class="image" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
                <td>Mario</td>
                <td>Hampton</td>
                <td>01.01.01.01.01</td>
                <td>adresse@mail.com</td>
                <td>Oui</td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
                <td class="check"></td>
            </tr>


        </table>
    </div>
{% endblock %}