{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="../../../../web/css/pdf/callsheet/main.css" /> {% endblock %} {% block body %}
<h1>{{ title }}</h1>
<div class="content">
    <table>
        <tr>
            <th></th>
            <th id="border_bottom">PRÉNOM</th>
            <th id="border_bottom">NOM</th>
            <th id="border_bottom">TÉLÉPHONE</th>
            <th id="border_bottom">ADRESSE MAIL</th>
            <th id="border_bottom">PERMIS</th>
            <th id="border_bottom" class="check"></th>
            <th id="border_bottom" class="check"></th>
            <th id="border_bottom" class="check"></th>
            <th id="border_bottom" class="check"></th>
            <th id="border_bottom" class="check"></th>
            <th id="border_bottom" class="check"></th>
            <th id="border_bottom" class="check"></th>
            <th id="border_bottom" class="check"></th>
        </tr>

        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Agnès</td>
            <td id="border_bottom">Corthez</td>
            <td id="border_bottom">05.04.39.39.29</td>
            <td id="border_bottom">agnes.corthez@gmail.com</td>
            <td id="border_bottom"><img src="web/css/pdf/callsheet/img/car.png" alt=""></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>

        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Eva</td>
            <td id="border_bottom">French</td>
            <td id="border_bottom">06.64.33.32.89</td>
            <td id="border_bottom">eva.french@gmail.com</td>
            <td id="border_bottom"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>
        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Christine</td>
            <td id="border_bottom">Parker</td>
            <td id="border_bottom">06.36.12.78.34</td>
            <td id="border_bottom">christine.parker@gmail.com</td>
            <td id="border_bottom"><img src="web/css/pdf/callsheet/img/car.png" alt=""></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>
        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Danielle</td>
            <td id="border_bottom">Mills</td>
            <td id="border_bottom">06.77.35.57.51</td>
            <td id="border_bottom">danielle.mills@gmail.com</td>
            <td id="border_bottom"><img src="web/css/pdf/callsheet/img/car.png" alt=""></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>
        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Dylan</td>
            <td id="border_bottom">Craig</td>
            <td id="border_bottom">06.34.26.55.56</td>
            <td id="border_bottom">dylan.craig@gmail.com</td>
            <td id="border_bottom"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>
        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Olivia</td>
            <td id="border_bottom">McLaughlin</td>
            <td id="border_bottom">06.39.34.67.31</td>
            <td id="border_bottom">olivia.mclaughlin@gmail.com</td>
            <td id="border_bottom"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>
        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Patricia</td>
            <td id="border_bottom">Newton</td>
            <td id="border_bottom">06.31.53.50.22</td>
            <td id="border_bottom">patricia.newton@gmail.com</td>
            <td id="border_bottom"><img src="web/css/pdf/callsheet/img/car.png" alt=""></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>
        <tr>
            <td id="border_bottom"><img class="image-permis" src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt=""></td>
            <td id="border_bottom">Valerie</td>
            <td id="border_bottom">Holland</td>
            <td id="border_bottom">06.31.24.46.79</td>
            <td id="border_bottom">valerie.holland@gmail.com</td>
            <td id="border_bottom"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
            <td id="border_bottom" class="check"></td>
        </tr>


    </table>
</div>
{% endblock %}