{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="" rel="stylesheet">
{% endblock %}
{% block body %}
<h1>{{title}}</h1>
<table class="tableau">
    <tr>
        <th>Photo</th>
        <th>Coordonnées</th>
    </tr>
    <tr>
        <td>Photo</td>
        <td>Test</td>
    </tr>
</table>
{% endblock %}
<link rel="stylesheet" href="{{ %kernel.root_dir%/../web }}/css/main.css ">