{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../../../web/css/pdf/main.css" />
{% endblock %}

{% block body %}
    <h1 class="title">{{title}}</h1>
    <div class="content">
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
        <div class="card__single">
            <img src="../../../../web/css/pdf/deleteme/hipster-358479_960_720.jpg" alt="">
            <p class="name">Mario Hampton</p>
            <p class="poste">Bénévole</p>
        </div>
    </div>
{% endblock %}
