{% extends 'base.html.twig' %}

{% block body %}
<h1>{{title}}</h1>
<table class="tableau">
    <tr>
        <th>Photo</th>
        <th>Coordonnées</th>
    </tr>
    <tr>
        <td>Photo</td>
        <td>Antoine Gourtay</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>Nicolas Castells</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>Anne Maurice-Peroumal</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>Jennyfer Millet</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>Aymeric Chappuy</td>
    <tr>
        <td>Photo</td>
        <td>Timothée Blanco</td>
    </tr>
    </tr>
</table>
{% endblock %}
