body {
    width: 100%;
}

.title {
    text-align: center;
}

.content {
    width: 100%;
    text-align: center;
}

.card__single {
    margin : 2%;
    display: inline-block;
    width: 13%;
    text-align: center;
    border: 1px solid;
    padding: 1%;

}

.card__single img {
    width: 75%;
}

.name {
    font-weight: bold;
}

.poste {
    font-style: italic;
}