{% extends "::base.html.twig" %}

{% block title %}AppBundle:Teams:index{% endblock %}

{% block body %}
<h1>Welcome to the Teams:index page</h1>
    Bonjour {{ current_user_id }}
    {% for user in current_user_id %}
        {{ user.id_benevole }}
    {% endfor %}
{% endblock %}
