<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solidarité Sida - Trombinoscope</title>
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="trombi">
    <h2>Zones Chaud</h2>
    <h3>Équipes Chocolat</h3>
    <h4>Pôles Caramel</h4>
    <h5>Sous-équipe Trolo</h5>
    <table>
        <tr>
            <th></th>
            <th><p class="bold">Nom</p></th>
            <th><p class="bold">Prénom</p></th>
            <th><p class="bold">Téléphone</p></th>
            <th><p class="bold">E-mail</p></th>
            <th><p class="bold">Permis</p></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
        </tr>
        <tr>
            <th><img src="" width="45"></th>
            <th><p>Agnès</p></th>
            <th><p>Cortez</p></th>
            <th><p>05.85.44.03.10</p></th>
            <th><p>adresse@gmail.com</p></th>
            <th><p>Oui</p></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
        </tr>
        <tr>
            <th><img src="" width="45"></th>
            <th><p>Agnès</p></th>
            <th><p>Cortez</p></th>
            <th><p>05.85.44.03.10</p></th>
            <th><p>adresse@gmail.com</p></th>
            <th><p>Oui</p></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
        </tr>
        <tr>
            <th><img src="" width="45"></th>
            <th><p>Agnès</p></th>
            <th><p>Cortez</p></th>
            <th><p>05.85.44.03.10</p></th>
            <th><p>adresse@gmail.com</p></th>
            <th><p>Oui</p></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
            <th class="cochage"></th>
        </tr>
    </table>
</div>