<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solidarité Sida - Trombinoscope</title>
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="trombi">
    <h2>Zones Chaud</h2>
    <h3>Équipes Chocolat</h3>
    <h4>Pôles Caramel</h4>
    <h5>Sous-équipe Trolo</h5>
    <div class="equipe_container">

        <div class="equipe_person trombi">
            <div class="person_card">
                <img class="img" src="/images/defaultPicture.png">
                <div class="person_info_subteam">
                    <span>Nicolas Castells</span>
                        <p class="person_poste_benevole">Bénévole</p>
                    <p class="person_email person_info_hidden">Mail: adresse@gmail.com</p>
                    <p class="person_phone person_info_hidden">Tél: 0685440310</p>
                    <p class="person_address person_info_hidden">Adresse: Rue de la frontière</p>
                    <p class="person_permis person_info_hidden">Permis B: Oui</p>
                </div>
            </div>
            <div class="person_card">
                <img class="img" src="/images/defaultPicture.png">
                <div class="person_info_subteam">
                    <span>Nicolas Castells</span>
                    <p class="person_poste_benevole">Bénévole</p>
                    <p class="person_email person_info_hidden">Mail: adresse@gmail.com</p>
                    <p class="person_phone person_info_hidden">Tél: 0685440310</p>
                    <p class="person_address person_info_hidden">Adresse: Rue de la frontière</p>
                    <p class="person_permis person_info_hidden">Permis B: Oui</p>
                </div>
            </div>
            <div class="person_card">
                <img class="img" src="/images/defaultPicture.png">
                <div class="person_info_subteam">
                    <span>Nicolas Castells</span>
                    <p class="person_poste_benevole">Bénévole</p>
                    <p class="person_email person_info_hidden">Mail: adresse@gmail.com</p>
                    <p class="person_phone person_info_hidden">Tél: 0685440310</p>
                    <p class="person_address person_info_hidden">Adresse: Rue de la frontière</p>
                    <p class="person_permis person_info_hidden">Permis B: Oui</p>
                </div>
            </div>
            <div class="person_card">
                <img class="img" src="/images/defaultPicture.png">
                <div class="person_info_subteam">
                    <span>Nicolas Castells</span>
                    <p class="person_poste_benevole">Bénévole</p>
                    <p class="person_email person_info_hidden">Mail: adresse@gmail.com</p>
                    <p class="person_phone person_info_hidden">Tél: 0685440310</p>
                    <p class="person_address person_info_hidden">Adresse: Rue de la frontière</p>
                    <p class="person_permis person_info_hidden">Permis B: Oui</p>
                </div>
            </div>
            <div class="person_card">
                <img class="img" src="/images/defaultPicture.png">
                <div class="person_info_subteam">
                    <span>Nicolas Castells</span>
                    <p class="person_poste_benevole">Bénévole</p>
                    <p class="person_email person_info_hidden">Mail: adresse@gmail.com</p>
                    <p class="person_phone person_info_hidden">Tél: 0685440310</p>
                    <p class="person_address person_info_hidden">Adresse: Rue de la frontière</p>
                    <p class="person_permis person_info_hidden">Permis B: Oui</p>
                </div>
            </div>
            <div class="person_card">
                <img class="img" src="/images/defaultPicture.png">
                <div class="person_info_subteam">
                    <span>Nicolas Castells</span>
                    <p class="person_poste_benevole">Bénévole</p>
                    <p class="person_email person_info_hidden">Mail: adresse@gmail.com</p>
                    <p class="person_phone person_info_hidden">Tél: 0685440310</p>
                    <p class="person_address person_info_hidden">Adresse: Rue de la frontière</p>
                    <p class="person_permis person_info_hidden">Permis B: Oui</p>
                </div>
            </div>
            <div class="person_card">
                <img class="img" src="/images/defaultPicture.png">
                <div class="person_info_subteam">
                    <span>Nicolas Castells</span>
                    <p class="person_poste_benevole">Bénévole</p>
                    <p class="person_email person_info_hidden">Mail: adresse@gmail.com</p>
                    <p class="person_phone person_info_hidden">Tél: 0685440310</p>
                    <p class="person_address person_info_hidden">Adresse: Rue de la frontière</p>
                    <p class="person_permis person_info_hidden">Permis B: Oui</p>
                </div>
            </div>
        </div>
    </div>
</div>