{% extends "@EventBundle/layout/dashboard.html.twig" %}

{% block controls %}{% endblock %}

{% block content %}
    <div class="importation">
        <h2>Votre fichier a bien été importé</h2>
        <div style="text-align: center">
            Vous avez importé <b style="font-weight: bold">{{ chiefs }}</b> nouveaux chef d'équipes, <b style="font-weight: bold">{{ benevoles }}</b> nouveaux bénévoles dans <b style="font-weight: bold">{{ teams }}</b> nouvelles équipes.
        </div>
    </div>
{% endblock %}
