{% extends "@EventBundle/layout/dashboard.html.twig" %}

{% block title %}Impression{% endblock %}

{% block content %}
<div class="print">
    <div class="print_controlers"> 
        <p>Informations à afficher</p> 
        <ul> 
            <li id="display_phone"><img src="/images/tel.png" width="45"></li> 
            <li id="display_email"><img src="/images/mail.png" width="45"></li> 
            <li id="display_address"><img src="/images/adresse.png" width="45"></li> 
            <li id="display_permis"><img src="/images/permis.png" width="45"></li> 
        </ul> 
    </div>
     <div class="print_buttons"> 
        <a class="button" id="btn_print" data-href="{{ printingRouter }}" href="{{ printingRouter }}">Imprimer Trombinoscope</a> 
        <a class="button" id="btn_callsheet" data-href="{{ callsheetRouter }}" href="{{ callsheetRouter }}">Imprimer Feuille d'appel</a> 
    </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    let queryParams = [];
    $('#display_phone').on('click', function (event) {
        event.preventDefault();
        const position = queryParams.indexOf('phone');
        if (position > -1) {
            queryParams = queryParams.filter((param) => param !== 'phone');
        } else {
            queryParams.push('phone');
        }

        buildParams();
    });
    $('#display_email').on('click', function (event) {
        event.preventDefault();
        const position = queryParams.indexOf('email');
        if (position > -1) {
            queryParams = queryParams.filter((param) => param !== 'email');
        } else {
            queryParams.push('email');
        }

        buildParams();
    });
    $('#display_address').on('click', function (event) {
        event.preventDefault();
        const position = queryParams.indexOf('address');
        if (position > -1) {
            queryParams = queryParams.filter((param) => param !== 'address');
        } else {
            queryParams.push('address');
        }

        buildParams();
    });
    $('#display_permis').on('click', function (event) {
        event.preventDefault();
        const position = queryParams.indexOf('permis');
        if (position > -1) {
            queryParams = queryParams.filter((param) => param !== 'permis');
        } else {
            queryParams.push('permis');
        }

        buildParams();
    });

    function buildParams() {
        let link = $('#btn_print').attr('data-href');
        $('#btn_print').attr('href', link + '&data='+ queryParams.join(','));

        let linkTwo = $('#btn_callsheet').attr('data-href');
        $('#btn_callsheet').attr('href', linkTwo + '&data='+ queryParams.join(','));
    }
</script>
{% endblock %}
